.letters {
    display: inline-block;
    border-radius: 3px;
}

body {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95)), url(resources/cipher-background.jpg)
}

h4 {
    letter-spacing: 20px;
}

#result-area {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

#result-area-win {
    font-size: 20px;
    font-weight: bold;
    color: rgb(1, 182, 1);
}


h2, h3, h4, form {
    color: rgb(190, 229, 255);
}

h1 {
    color: rgb(190, 229, 255);
    font-size: 50px;
}