.letters {
    display: inline-block;
}

body {
    background-color: rgb(185, 238, 245);
}

h4 {
    letter-spacing: 20px;
}

#result-area {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

#result-area-win {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

