.letters {
    display: inline-block;
}

body {
    background-color: rgb(245, 212, 185);
}

h4 {
    letter-spacing: 20px;
}

#result-area {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

#result-area-win {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

